body {
    color:aliceblue;
    background-color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container h1 {
    text-align: center;
    color:aliceblue;
}
.container p {
    color:rgb(233, 214, 190);
    text-align:center;
}
