body {
    color:rgb(255, 255, 255);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display:flex;
    text-align: center;
    color:rgb(0, 0, 0);
    flex-direction: center;
    background-color: aliceblue;
    align-items: center;
    flex-direction: column;
}
