* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

html {
    scroll-behavior: smooth ;
}
body {
    font-family:'Helvetica', 'Arial', Arial, sans-serif;
    background-color: black;
    color: aliceblue;
    line-height: 1.6;
}

header {
    background-color: rgb(29, 29, 29);
    position: sticky;
    top: 0;
    z-index: 100;

}

.navbar {
    max-width: 1100px;
    margin:auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.logo {
    color: aliceblue;

}
.menu {
    display: flex;
    gap: 25px;

     list-style: none;

}
.menu a {
    color: aliceblue;
}
.menu a:hover {
    color: rgb(100, 3, 3);
}


.inicio {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
}
.inicio-conteudo {
    width: 1100px;
    max-width: 90%;
    margin: auto;
}
.saudacao {
    color:brown;
    font-size: 20px;
    margin-bottom: 5px;
}
.inicio h1 {
    font-size: 60px;
    margin-bottom: 5px;
}
.inicio h2 {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 20px;
}